Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Importing Dataset

In [2]:
from google.colab import files
files=files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [6]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
df = df.drop(["User ID"],axis=1)
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [8]:
numerical_features=[x for x in df.columns if df[x].dtype!="object"]
numerical_features

['Age', 'EstimatedSalary', 'Purchased']

In [9]:
categorical_features=[x for x in df.columns if df[x].dtype=="object"]
categorical_features

['Gender']

In [10]:
encoder=LabelEncoder() 
df["Gender"]=df["Gender"].map({"Male":0,"Female":1})

In [11]:
# Assigning Dependent and Independent Features.
X=df.drop(["Purchased"],axis=1) 
y=df["Purchased"]

In [12]:
# Splitting the training and testing Dataset.
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [13]:
#Normalization
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train) 
X_test = scaler.transform(X_test)

In [14]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score

In [16]:
knn_values=np.arange(1,20)
cross_val_knn=[]
for k in knn_values:
  knn_regressor=KNeighborsRegressor(n_neighbors=k)
  knn_regressor.fit(X_train,y_train)
  print("K value : ", k, "cross_val_score : ", cross_val_score(knn_regressor,X_train,y_train,cv = 15).mean())
  cross_val_knn.append(cross_val_score(knn_regressor,X_train,y_train,cv = 15).mean())

K value :  1 cross_val_score :  0.15797619047619052
K value :  2 cross_val_score :  0.3241973304473305
K value :  3 cross_val_score :  0.4340593768371547
K value :  4 cross_val_score :  0.44782745610870606
K value :  5 cross_val_score :  0.49033227513227506
K value :  6 cross_val_score :  0.4757882061354284
K value :  7 cross_val_score :  0.4790979277713972
K value :  8 cross_val_score :  0.47189718990500246
K value :  9 cross_val_score :  0.4640395726815481
K value :  10 cross_val_score :  0.4761163660413661
K value :  11 cross_val_score :  0.48445899371519213
K value :  12 cross_val_score :  0.49735101511143187
K value :  13 cross_val_score :  0.4999756297833222
K value :  14 cross_val_score :  0.5100932674657164
K value :  15 cross_val_score :  0.5188801239912351
K value :  16 cross_val_score :  0.5159972774621212
K value :  17 cross_val_score :  0.5175893554094247
K value :  18 cross_val_score :  0.5120975666423198
K value :  19 cross_val_score :  0.5121030846654117

In [19]:
cross_val_knn_regressor=max(cross_val_knn)
print("The best K-Value is 15 and Cross_val_score is",cross_val_knn_regressor )

The best K-Value is 15 and Cross_val_score is 0.5188801239912351

In [20]:
knn_regressor=KNeighborsRegressor(n_neighbors=11)
knn_regressor.fit(X_train,y_train)
cross_val_knn_regressor=cross_val_score(knn_regressor,X_train,y_train,cv=15).mean()
cross_val_knn_regressor

0.48445899371519213

In [21]:
y_pred = knn_regressor.predict(X_test)
y_pred

array([0.90909091, 0.81818182, 0.        , 0.72727273, 0.        ,
       0.        , 0.81818182, 0.09090909, 0.18181818, 0.18181818,
       0.        , 0.90909091, 0.        , 0.        , 0.09090909,
       0.81818182, 0.81818182, 0.18181818, 0.        , 0.63636364,
       0.        , 0.        , 0.63636364, 0.81818182, 0.        ,
       0.81818182, 0.45454545, 0.        , 0.81818182, 0.        ,
       0.81818182, 0.        , 0.90909091, 0.        , 0.90909091,
       0.18181818, 0.        , 0.09090909, 0.        , 0.        ,
       0.63636364, 0.        , 0.        , 0.63636364, 0.        ,
       0.81818182, 0.        , 0.        , 0.63636364, 0.        ,
       0.        , 0.63636364, 0.        , 0.        , 0.09090909,
       0.        , 1.        , 0.36363636, 0.        , 0.        ,
       0.09090909, 0.        , 0.63636364, 0.09090909, 0.        ,
       0.81818182, 0.27272727, 0.81818182, 0.        , 0.63636364,
       0.81818182, 0.        , 0.        , 0.        , 0.63636364,
       0.        , 0.90909091, 0.90909091, 0.        , 0.09090909,
       0.        , 0.63636364, 0.81818182, 0.72727273, 0.90909091,
       0.90909091, 0.        , 0.63636364, 0.        , 0.        ,
       0.72727273, 0.        , 0.        , 0.18181818, 0.        ,
       0.18181818, 0.90909091, 0.18181818, 0.72727273, 0.81818182,
       0.81818182, 0.09090909, 0.63636364, 0.        , 0.        ,
       0.81818182, 0.81818182, 0.45454545, 0.90909091, 0.09090909,
       0.        , 0.18181818, 0.81818182, 0.81818182, 0.72727273,
       0.        , 0.        , 0.27272727, 0.        , 0.09090909])