Data Pre-Processing

Importing libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Importing Dataset

In [ ]:
from google.colab import files
files=files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [ ]:
df=pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
df.drop(["User ID"],axis=1)

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [ ]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
numerical_features=[x for x in df.columns if df[x].dtype!="object"]
numerical_features

['User ID', 'Age', 'EstimatedSalary', 'Purchased']

In [ ]:
categorical_features=[x for x in df.columns if df[x].dtype=="object"]
categorical_features

['Gender']

Encoding

In [ ]:
encoder=LabelEncoder() 
df["Gender"]=df["Gender"].map({"Male":0,"Female":1})

Splitting the Dataset into training and test sets

In [ ]:
# Assigning Dependent and Independent Features.
X=df.drop(["Purchased"],axis=1) 
y=df["Purchased"]

In [ ]:
# Splitting the training and testing Dataset.
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
#Normalization
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train) 
X_test = scaler.transform(X_test)

Importing LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logis_reg = LogisticRegression()
logis_reg.fit(X_train, y_train)

LogisticRegression()

In [ ]:
LogisticRegression(penalty='l2',dual=False, tol=0.0001, C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, solver='lbfgs', max_iter=100, multi_class='auto',verbose=0, warm_start=False, n_jobs=None, l1_ratio=None)

LogisticRegression()

Prediction

In [ ]:
y_pred = logis_reg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logis_reg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.86

Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [ ]:
confusion_matrix(y_pred,y_test)

array([[71, 15],
       [ 2, 32]])

In [ ]:
accuracy_score(y_pred,y_test)

0.8583333333333333

In [ ]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.97      0.83      0.89        86
           1       0.68      0.94      0.79        34

    accuracy                           0.86       120
   macro avg       0.83      0.88      0.84       120
weighted avg       0.89      0.86      0.86       120