Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Importing Datasets

In [ ]:
from google.colab import files
files=files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv

In [ ]:
df = pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [ ]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
numerical_features=[x for x in df.columns if df[x].dtype!="object"]
numerical_features

['Age', 'EstimatedSalary', 'Purchased']

In [ ]:
categorical_features=[x for x in df.columns if df[x].dtype=="object"]
categorical_features

['Gender']

In [ ]:
encoder=LabelEncoder() 
df["Gender"]=df["Gender"].map({"Male":0,"Female":1})

In [ ]:
# Assigning Dependent and Independent Features.
X=df.drop(["Purchased"],axis=1) 
y=df["Purchased"]

In [ ]:
# Splitting the training and testing Dataset.
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
#Normalization
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train) 
X_test = scaler.transform(X_test)

Implementing Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [ ]:
max_depth=np.arange(1,15)
cross_val_rf=[]
for d in max_depth:
  rf_regressor=RandomForestRegressor(max_depth=d, random_state=0)
  rf_regressor.fit(X_train,y_train)
  print("Depth : ", d, "cross_val_score : ", cross_val_score(rf_regressor,X_train,y_train,cv = 15).mean())
  cross_val_rf.append(cross_val_score(rf_regressor,X_train,y_train,cv = 15).mean())

Depth :  1 cross_val_score :  0.3193548528625293
Depth :  2 cross_val_score :  0.5347399423525433
Depth :  3 cross_val_score :  0.5431621158073195
Depth :  4 cross_val_score :  0.5526710479539574
Depth :  5 cross_val_score :  0.5349004587938422
Depth :  6 cross_val_score :  0.5204758638261253
Depth :  7 cross_val_score :  0.5140869393625619
Depth :  8 cross_val_score :  0.49512903807404335
Depth :  9 cross_val_score :  0.49056315623781904
Depth :  10 cross_val_score :  0.4913919089318958
Depth :  11 cross_val_score :  0.48993625186081335
Depth :  12 cross_val_score :  0.4901775526839493
Depth :  13 cross_val_score :  0.49029493562165977
Depth :  14 cross_val_score :  0.49022962312165974

In [ ]:
cross_val_rf_regressor=max(cross_val_rf)
print("The best depth is 4 and Cross_val_score is:",cross_val_rf_regressor)

The best depth is 4 and Cross_val_score is: 0.5526710479539574

In [ ]:
rf_regressor=RandomForestRegressor(max_depth=10, random_state=0)
rf_regressor.fit(X_train,y_train)
cross_val_rf_regressor=cross_val_score(rf_regressor,X_train,y_train,cv=15).mean()
cross_val_rf_regressor

0.4913919089318958